<% include partials/header.ejs %>

    <h1>All Links</h1>

    <div class="indexWell well">
      <% myLinks.forEach(function(link) { %>
      <a href="<%= hashid.encode(link.id) %>"><h3><%= link.url %></h3></a>
      <p><%= link.count %></p>
      <% }); %>
    </div>
    

<% include partials/footer.ejs %>