body {
  background-image: url('/images/asanoha-400px.png');
}

h1 {
  text-align: center;
}
h4 {
  text-align: center;
}
.fa {
  color: green; 
  padding-right: 20px;
}
footer {
  background-color: black;
  line-height: 14px;
  width: 100%;
  margin-top: 35%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
footer p { 
  font-size: 12px;
  text-align: center;
  color: white;
  padding-top: 1%;
}
form {
  text-align: center;
  margin-top: 50px;
}
.indexWell {
  text-align: center;
}
#urlInput {
  width: 500px;
}